# Imports

In [1]:
import pandas as pd

# Ideas

## From RR

1) Fundementals (20%)

* CPI 
* 1Y
* 5Y
* Expected_inflation_5Y

2) Valuations (20%)

*  p/e ratio
* forward p / e

3) Technicals  (20%)

* Sectors RSI
* Sectors MA 50 / 200

4) Sentiment  (20%)

* aaii
* bull-bear spred in aaii
* naaim
* median in naaim
* std in naaim

5) Positioning & Fund Flows  (20%)

* fund flows?
* global volatility?

# Analysys

In [18]:
returns = pd.read_excel(r"data\SP500_Sectors_returns.xls", header=1)
returns.head(5)

,Dates,S&P 500 Real Estate,S&P 500 Communication Services,S&P 500 Financials,S&P 500 Information Technology,S&P 500 Consumer Discretionary,S&P 500 Consumer Staples,S&P 500 Utility,S&P 500 Materials,S&P 500 Health Care,S&P 500 Industrials,S&P 500 Energy
0,2023-02-28,140.88,113.98,270.12,618.76,1627.57,464.51,993.07,952.76,2386.45,524.77,1374.02
1,2023-01-31,149.82,119.57,276.60,616.29,1662.36,476.06,1055.29,985.28,2501.73,529.93,1479.29
2,2022-12-30,136.34,104.50,258.95,563.84,1445.22,480.57,1076.82,904.08,2549.35,511.00,1438.86
3,2022-11-30,143.55,113.38,273.41,615.47,1628.62,494.96,1082.54,957.30,2599.01,526.85,1482.47
4,2022-10-31,134.33,106.12,255.57,580.80,1612.71,465.54,1011.55,856.59,2479.54,488.87,1464.06

In [22]:
aaii = pd.read_excel(r"data\AAII.xls")
aaii.head(5)

  Reported_Date  Bullish  Neutral  Bearish
0    1987-07-24     0.36     0.50     0.14
1    1987-07-31     0.26     0.48     0.26
2    1987-08-07     0.56     0.15     0.29
3    1987-08-14     0.45     0.35     0.20
4    1987-08-21     0.66     0.28     0.06

In [21]:
naaim = pd.read_excel(r"data\naaim.xls")
naaim.head(5)

,Date,Mean/Average,Most Bearish Response,Quart 1 (25% at/below),Quart 2 (median),Quart 3 (25% at/above),Most Bullish Response,Standard Deviation,NAAIM Number,S&P 500
0,2023-03-15,41.92,-150.0,0.0000,55.0,70.0,200.0,66.69,41.92,3891.93
1,2023-03-08,60.11,-150.0,40.0000,60.0,100.0,200.0,63.44,60.11,3992.01
2,2023-03-01,47.41,-175.0,23.1250,50.0,75.0,200.0,69.32,47.41,3951.39
3,2023-02-22,57.09,-200.0,45.3125,66.0,100.0,200.0,71.14,57.09,3991.05
4,2023-02-15,81.43,-50.0,65.0000,75.0,100.0,200.0,47.28,81.43,4147.60

In [25]:
value = pd.read_csv('data/pe_cpi_Treas.csv')
value

,date,PE_RATIO,Fwd_PE_RATIO,5Y_GENERIC,1Y_GENERIC,S&P_500_TR,PE_Yield,Fwd_PE_Yield,FWD_PE_minus_5Y,S&P_500_FORWARD_3_MONTHS_GAIN,S&P_500_FORWARD_1_YEAR_GAIN,CPI_YOY,GENERIC_INFLATION_INDEXED_5Y_GOV_BOND,Expected_inflation_5Y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29/07/2022,20.0,17.0,2.7,2.89,8730.0,5.00%,5.90%,3.30%,NaN,NaN,9.1,-0.108,2.79%
2,30/06/2022,18.0,15.0,3.0,2.74,7993.0,5.40%,6.60%,3.50%,NaN,NaN,8.6,0.435,2.59%
3,31/05/2022,21.0,17.0,2.8,2.05,8713.0,4.80%,6.00%,3.20%,NaN,NaN,8.3,-0.124,2.94%
4,29/04/2022,21.0,17.0,3.0,2.06,8697.0,4.80%,6.00%,3.10%,0.38%,NaN,8.5,-0.391,3.36%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,29/05/1992,27.0,14.0,6.6,4.24,484.0,3.70%,7.40%,0.80%,0.41%,11.60%,3.2,NaN,NaN
364,30/04/1992,26.0,13.0,6.9,4.31,481.0,3.80%,7.40%,0.60%,3.12%,9.20%,3.2,NaN,NaN
365,31/03/1992,26.0,13.0,6.9,4.49,468.0,3.90%,7.70%,0.80%,1.71%,15.20%,2.8,NaN,NaN
366,28/02/1992,26.0,13.0,6.6,4.30,477.0,3.80%,7.50%,1.00%,1.47%,10.70%,2.6,NaN,NaN
367,31/01/1992,26.0,13.0,6.4,4.19,471.0,3.80%,7.50%,1.10%,2.12%,10.60%,3.1,NaN,NaN